
body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


.hidden{
  display:none
}

.userItems{
  position: fixed;
  top:150px;
  left: 640px;
  background-color: rgba(210, 215, 211,0.25);
  padding:50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.nameLabel{
  display:block;
  font-weight: bold;
  font-size: 40px;

}
.userNInput{
  margin-left: 20px;
  height: 30px;
  width: 350px;
  display:inline-block;
}
.paswordLabel{
  display:block;
  font-weight: bold;
  font-size: 40px;
  margin-top: 28px;
}
.userPInput{
  margin-left: 25px;
  height: 30px;
  width: 350px;
  display:inline-block;
}
.enterUserButton{
  margin-top: 50px;
  height: 60px;
  width: 562px;
  background-color: cornflowerblue;
  font-size: 30px;

}
.titleLabel{
  position: fixed;
  top:10px;
  display: inline-block;
  text-align: center;
}
.title{
  font-size: 100px;
}

.dashBoard{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.menu{
  text-align: center;
  display:inline-block;
  border-right:3px solid #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 20px;
}
.mainPage{
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 240px;
  right: 0;
  padding: 20px;
}
.homeButton{
  padding-top: 10px;
  font-size: 30px;
  display: block;
  width: 200px;
  height: 50px;
  background-color: cornflowerblue;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.logOutButton{
  display: block;
  padding-top: 10px;
  font-size: 30px;
  width: 200px;
  height: 50px;
  background-color: cornflowerblue;
  margin-top: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.currentButton {
  display:block;
  padding-top: 10px;
  font-size: 30px;
  width: 200px;
  height: 50px;
  background-color: cornflowerblue;
  margin-top: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.BookingButton{
  display:block;
  padding-top: 10px;
  font-size: 30px;
  width: 200px;
  height: 50px;
  background-color: cornflowerblue;
  margin-top: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.currrentHeading{
  display:block;
  text-align: center;
  font-size: 100px;
}
.currentTotal{
  display: block;
  text-align: right;
  font-size: 50px;
  padding-right: 100px;
  border-bottom:3px solid #000;
}
.currentBookingsData{
  margin-top: 40px;
  display: block;
  font-size: 50px;
}
.currentDate{
  width: 400px;
  display: inline-block;
}
.currentDate2{
  cursor: pointer;
  width: 400px;
  display: inline-block;
}
.currentRoomNumber{
  width: 400px;
  display: inline-block;
}
.currentRoomNumber2{
  cursor: pointer;
  width: 400px;
  display: inline-block;
}
.currentPrice{
  width: 250px;
  display: inline-block;
}
.currentPrice2{
  cursor: pointer;
  width: 250px;
  display: inline-block;
}
.historyHeading{
  display:block;
  text-align: center;
  font-size: 100px;
}
.historyTotal{
  display: block;
  text-align: right;
  font-size: 50px;
  padding-right: 100px;
  border-bottom:3px solid #000;
}
.historyBookingsData{
  margin-top: 40px;
  display: block;
  font-size: 50px;
}
.historyDate{
  width: 400px;
  display: inline-block;
}
.historyRoomNumber{
  width: 400px;
  display: inline-block;
}
.historyPrice{
  width: 250px;
  display: inline-block;
}

.homePage{

}
.homeWelcomeHeading{
  display:block;
  text-align: center;
  font-size: 100px;
}

.bookingPage{

}
.bookingHeading{
  display:block;
  text-align: center;
  font-size: 100px;
}
.bookingFilterOPtions{
  display: block;
  font-size: 50px;
  padding-right: 100px;
  border-bottom:3px solid #000;
}
#bookedDate{
  font-size: 25px;
  width: 200px;
  height: 40px;
  background-color: lightgray;
  margin-top: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 20px;
}

.dataSubmit{
  width: 100px;
  height: 40px;
  background-color: lightgray;
  margin-top: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
}
.availabilityRoomNumber{
  margin-top: 40px;
  display: block;
  font-size: 50px;
}
.availabilityDate{
  width: 250px;
  display: inline-block;
}
.availabilityRoomNumber{
  width: 400px;
  display: inline-block;
}
/*.{*/
/*  width: 250px;*/
/*  display: inline-block;*/
/*}*/
.availabilityData{
  display: block;
  font-size: 50px;
}
.dataSeporator{
  border-bottom:3px solid #000;
}
.currentAvailData{
  margin-top: 20px;
  font-size: 30px;
  overflow-y: scroll;
  height: 400px;
}
.currentData{
  margin-top: 20px;
  font-size: 30px;
  overflow-y: scroll;
  height: 400px;
}
.currentBookingsPage {
  overflow-y: auto;
}
.alertNoRooms {
  display:block;
  text-align: center;
  font-size: 100px;
}
#roomType{
  font-size: 25px;
  width: 200px;
  height: 40px;
  background-color: lightgray;
  margin-top: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 20px;
}